* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
/* -----typo graphy--- */
p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}

.inportant {
    color: red;
}
/* -------typo graphy ends---- */

/* ------banner section start here----- */
.banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    padding: 186px 0;
    border: 16px;
    border-radius: 8px;
}

.banner {
    max-width: 1320px;
    width: 82%;
    margin: 50px auto;


}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

.banner h1 {
    color: #FFF;
    text-align: center;
    max-width: 48%;
    margin: auto auto;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* ------banner section ends------ */

/* ------main section start here------ */

/* -----offer section start----- */
#offer-section {
    margin: 120px auto;
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offer-container h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;

}

.offer-container h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-container h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-container .offer-img {
    margin-top: 48px;
}

/* ------offer section end------ */

/* -----welcome section start---- */
#welcome-section {
    margin-top: 120px;
}

.welcome-container {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");

}

#welcome-section .offer-text>h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    text-align: start;

}

.offer-text {
    max-width: 690px;
    margin: 126px auto;

}

.offer-text * {
    margin-bottom: 24px;
}

.offer-img {
    max-width: 620px;
    display: flex;
    align-items: center;

}

.offer-img img {
    width: 100%;
    padding-right: 100px;

}

/* -----welcome section section ends----- */

/* -----place section start----- */
#place {
    margin-top: 100px;
}

#place .place-container {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#place .place-container * {
    margin-bottom: 45px;
}

/* ------place section ends---- */

/* -----portfolio section start---- */
#portfolio {
    margin-top: 100px;
}

#portfolio .portfolio-text .gift-peragraph {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#portfolio .portfolio-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;

}

#portfolio .portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 850px;
}

#portfolio .portfolio-container * {
    margin-top: 16px;
}

.img-section1 {
    display: flex;
    gap: 16px;
}

.img-section2 {
    display: flex;
    gap: 16px;
}

/* ------portfolio section ends----- */

/* ------subscription section start---- */
#Subscribtion {
    margin-top: 100px;

}

#Subscribtion .Subscribe-container {
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Subscribtion .Subscribe-container * {
    margin: 10px auto;
}

#Subscribtion .Subscribe-container h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

#Subscribtion .Subscribe-container p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 896px;
    text-align: center;
}

#Subscribtion .Subscribe-container form {
    max-width: 648px;
    display: flex;

}

#Subscribtion .Subscribe-container form input {
    width: 448px;
    border: none;
    padding-left: 30px;
    border-radius: 50px 0px 0px 50px;
}

#Subscribtion .Subscribe-container form button {
    border-radius: 0px 50px 50px 0px;
}

/* ----subscription section ends----- */

/* ------main section ends------ */

/* ------footer start here----- */
footer {
    margin-top: 100px;
    background-color: #070211;
    height: 695px;
}

.footer-container {
    display: flex;
    flex-direction: column;

}

/* .footer-container * {
    margin: 20px
} */

.footer-container .contact-container {

    display: flex;
    justify-content: space-between;
    margin: 120px 0 50px 0;
}

.footer-container .contact-container p {
    max-width: 375px;
    padding-top: 10px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    gap: 16px;
}

.footer-container .contact-container a {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    gap: 16px;
    margin-top: 10px;

}

.footer-container .socialMdia-link {
    display: flex;
    justify-content: center;
    margin: 48px 0;
    gap: 23px;
}

.footer-container .copyright {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 150px 0;
}

.footer-container .copyright p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
}

hr {
    background-color: black;
}

/* -----footer section ends----- */

#coming-soon {
    margin-top:100px;
}

.coming-soon {
    display: flex;
    height: 480px;
    justify-content: space-between;
    align-items: center;

}

.coming-soon .coming-soon-text .coming-soon-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;

}

.coming-soon .coming-soon-text {
    max-width: 400px;
}

.coming-soon .coming-soon-text * {
    margin-bottom: 22px;
}

.coming-soon .coming-soon-text p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.coming-soon .coming-soon-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.coming-soon .coming-soon-img {
    border: 35px solid transparent;
    border-radius: 50%;
}

.coming-soon .coming-soon-img-border {
    border: 15px solid red;
    border-radius: 50%
}

.coming-soon .coming-soon-div3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 200px;

}

.coming-soon .coming-soon-div3 .year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.coming-soon .coming-soon-div3 .text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon .coming-soon-div3 img {
    max-width: 144px;
}

#portfolio .portfolio-container .image-container img:hover{
    border-radius: 16px;
    border:2px solid rgb(158, 35, 35);
}