* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border:none;
}

.banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    padding: 186px 0;
    border: 16px;
    border-radius: 8px;
}

.banner {
    max-width: 1320px;
    width: 82%;
    margin: 50px auto;


}

.banner h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;

}

.banner h1 {
    color: #FFF;
    text-align: center;
    max-width: 48%;
    margin: auto auto;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* ------main section start here------ */

/* -----offer section start----- */
#offer-section {
    margin: 120px auto;
}

.offer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.offer-container h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;

}

.offer-container h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-container h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-container .offer-img {
    margin-top: 48px;
}

/* ------offer section end------ */

/* -----welcome section start---- */
#welcome-section {
    margin-top: 120px;
}

.welcome-container {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");

}

#welcome-section .offer-text>h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    text-align: start;

}

.offer-text {
    max-width: 690px;
    margin:126px auto;
   
}
.offer-text *{
    margin-bottom:24px;
}
.offer-img{
    max-width:620px;
    display:flex;
    align-items: center;
    /* justify-content: center; */

}
.offer-img img{
    width:100%;
    padding-right:100px;
    
}
